h1 {
    color: #343F3E;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120px;
}

h2 {
    color: #505A5B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    background-color: #DCEDFF
}

img {
    align-self: center;
    border-radius: 8px;
    height: 500px;
    width:500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

div {
    padding: 50px;
    text-align: center;
    display: inline-block;
}

.cool {
    color: #94b0da;
}

/*Color Array */
/*["dcedff","94b0da","8f91a2","505a5b","343f3e"]*/